MonoTM2 - копия/
packages/
MonoTM2/bin/
MonoTM2/obj/
MonoTM2/MonoTM2.csproj
MonoTM2/MonoTM2.csproj
MonoTM2/config.json
MonoTM2/csgotmitems.dat
*.maFile
.vs/config/applicationhost.config
MonoTM2/MonoTM2.csproj
MonoTM2/MonoTM2.csproj
/MonoTM2/Db
